<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="/<%- css%>">
    <title><%- title %></title>
  </head>
  <body>
    <div id="root">
      <%- root %>
    </div>
    <script>
      window.REDUX_STATE = <%- JSON.stringify(store) %>
    </script>
    <script src="/<%- js %>"></script>
  </body>
</html>
